.header {
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 3vh;
}

.header h3 {
  font-size: 2.75rem;
}

.formLabel {
  font-size: 2rem;
  text-align: center;
}

.romanNumeral {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding-top: 10vh;
}

@media (max-width: 575.98px) {
  .romanNumeral {
    font-size: 2rem;
  }
}
